<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}CMS Demo{% endblock %}</title>
		{% block extra_head %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">

		{% block body %}

				<div class="content">
				{% block content %}{% endblock %}
				</div>

		{% endblock %}

		{% block extra_body %}{% endblock %}

</body>
</html>
